body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #e3e3e3e3;
  }
  
  .icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
  }
  .icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
  }
  .icon, .icon_header {
    margin-right: 5px;
  }
  
  .close_icon {
    color: red;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar main main main'
      'sidebar main main main';
    height: 100vh;
  }

  /* Sidebar  */
  #sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin: 20px;
  }
  .Sider-Box{
    height: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  .sidebar-title {
    display: flex;
    padding: 0 23px;
}
.SideBarLogo{    
    margin-left: 5px;
    width: 95%;
    height: 40px;
}
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 15px;
  }
  .BottomLine {
    width: 70%;
    margin-top: -25px;
    margin-left: 10px;
  }
  
  
  .sidebar-list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: black;
  }
  .red a{
    color: red;
    width: 70%;
    margin-left: 20px;
  }

  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  
  /* End Sidebar  */
  
   /* Start Main  */ 
  .main-container {
    grid-area: main;
    overflow-y: auto;
  }
   /*End Main  */ 

   /* Start Dashborad */
   .Head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 22px;
   }
   .Head h1{
     font-size: 1.3rem;
   }
   .Head p{
    font-weight: 600;
    color: grey;
    margin-left: 1px;
    margin-top: -14px;
    font-size: 0.65rem;
   }
   /* End Dashborad */

   /* START OF USER  */


.m20{
  margin: 30px;
  margin-right: 47px;
}
.userHead p{
  font-size: small;
  margin-top: -20px;
}
.rightDropDown{
  /* align-items: right !important; */
  /* justify-content: right !important; */

  background-color: #FFFFFF;
  border-radius: 3px !important;
  padding: 5px 29px;
  border: none !important;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.352) !important;
}
.searchnfilter{
  display: flex;
  flex-direction: row;
   margin: 20px -6px;
  align-items: left !important;
}
.searchnfilter img{
  /* margin-left: 50%; */
  height: 12%;
  width: 10%;
}
.searchnfilter button{
  border-radius: 15px !important;
  margin-left: 2%;
  padding: 2px 28px;
  border: 0.5px solid grey;
  background-color: #FFFFFF;
  font-size: large;
  color: grey;
}

.searchBar{
  background-color: #FFFFFF !important;
  border-radius: 15px !important;
  border: 0.5px solid grey;
  /* width: 50% !important; */
}

.textFeildOfSearch{
  border-radius: 11px !important;
  padding: 7px 12px;
  /* margin-left: -29px; */
}

.completeTable{
  height: 95%;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 1%;
  padding: 20px 35px;
  font-size: small;
}

.tableHeading{
  justify-content: left !important;
  align-items: left !important;
  text-align: left !important;
}

.hrLine{
  width: 268%;
}
.bluePara{
  color: dodgerblue;
}


   /* END OF USER  */

   /* START OF TRANSACTION  */


.transactionCards{
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  /* justify-content: space-between; */
}
.boxNoOne, .boxNoThree{
  background-color: #FFFFFF;
  border-radius: 10px !important;
  /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.352) !important; */
  padding: 22px 71px;
}
.boxNoTwo{
  background-color: #FFFFFF;
  border-radius: 10px !important;
  /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.352) !important; */
  padding: 22px 71px;
  margin: 2px 185px;
}

.transactionTableHeading{
  text-align: left !important;
}



   /* END OF TRANSACTION  */